<!DOCTYPE html>  
<html lang="en">  

<body>  
{% if user.is_authenticated %}
{% csrf_token %}
<center><h1>Welcome {{request.user}}</h1> </center>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
    {% csrf_token %}
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %}  
    <tr>  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>    
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="{% url "test1:add" %}" class="btn btn-primary">Add New Record</a></center>  
<br>
<a class="hello-msg" href="{% url 'users:logout' %}">Logout</a>
            {% else %}
            <p>
            <center><h1>Welcome Login to See details</h1> </center>
                <a href="{% url "users:register" %}" class="btn btn-primary my-2">Register</a>
            </p>
{% endif %}
</body>  
</html>  





